/* Font options:
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
    Hangul 
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Single Day', cursive;
    font-family: 'Poor Story', cursive;
    font-family: 'Nanum Gothic Coding', monospace;
*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main_container {
  width: 100%;
  height: 100%;
}

#header {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 15px;
  border-bottom: 3px solid rgba(0, 210, 2, 0.6);
}

.logo {
  width: 200px;
}

.logo img {
  width: 200px;
  margin-top: 40px;
}

.genre_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.genre {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin-top: 35px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa", cursive;
  color: rgb(0, 210, 2);
  font-size: 1rem;
  cursor: pointer;
}

.genre:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 210, 2);
  border-radius: 50%;
}

/* Playlist section */

.playlist_header {
  border-bottom: 1px solid rgba(124, 124, 124, 0.1);
  width: 70%;
  margin: 30px auto 0px auto;
  padding: 10px;
  display: flex;
  font-family: "Comfortaa", cursive;
  font-size: 1rem;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1000;
}

.trackWrapper:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 210, 2);
  border-radius: rgba(2, 99, 4);
}

.ranking {
  margin-left: 2%;
}

.song {
  margin-left: 7%;
}

.artist_name {
  margin-left: 37.5%;
}

.album {
  margin-left: 15.5%;
}

.playlist_wrapper {
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#playlist_container {
  width: 70%;
  margin: 10px auto;
}

.fa-3x {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-3x i {
  margin-top: 20%;
}

.trackWrapper {
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  border: solid rgb(0, 210, 4, 0.6) 3px;

  border-radius: 25px;
}
.trackFaqs {
  background-color: rgba(240, 240, 240, 0.63);
  /* background-color: rgb(0, 210, 4,.6); */

  position: relative;
  z-index: 100;
  overflow: hidden;

  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.2rem;
  cursor: pointer;
}

.mediaLinks {
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
  padding: 20px;
  background: rgb(254, 60, 65, 0.05);
}

.traqFaqs > div {
  display: flex;
  align-items: center;
  height: 60px;
}

.rank {
  width: 10px;
}
.art_img,
.song_title,
.artist,
.album_name {
  margin-left: 20px;
}

.song_title,
.artist,
.album_name {
  border-left: 1px solid rgb(92, 92, 92);
  padding-left: 25px;
}

.song_title {
  width: 500px;
}

.artist {
  width: 200px;
}

.album_name {
  width: 300px;
}
.upA {
  color: black;
  font-size: 30px;
  margin-left: 180px;
  font-weight: 100;
}
