/* Font options:
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
    Hangul 
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Single Day', cursive;
    font-family: 'Poor Story', cursive;
    font-family: 'Nanum Gothic Coding', monospace;
*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main_container {
  width: 100%;
  height: 100%;
}

#header {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 15px;
  border-bottom: 3px solid rgba(0, 210, 2, 0.6);
}

.logo {
  width: 200px;
}

.logo img {
  width: 200px;
  margin-top: 40px;
}

.genre_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.genre {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin-top: 35px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa", cursive;
  color: rgb(0, 210, 2);
  font-size: 1rem;
  cursor: pointer;
}

.genre:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 210, 2);
  border-radius: 50%;
}

/* Now Playing Section */
.nowPlaying {
  padding-top: 100px;
}

/* Playlist section */

.playlist_header {
  border-bottom: 1px solid rgba(124, 124, 124, 0.1);
  width: 100%;
  margin: 30px auto;
  padding: 10px;
  display: flex;
  font-family: "Comfortaa", cursive;
  font-size: 1rem;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1000;
}

/* .trackWrapper:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 210, 2);
  border-radius: rgba(2, 99, 4);
} */

.ranking {
  margin-left: 8%;
}
.song {
  margin-left: 12%;
}

.artist {
  margin-left: 12%;
}

.album {
  margin-left: 20%;
}

#playlist_container {
  width: 100%;
  height: 69vh;
  overflow: auto;
  margin: 10px auto;
}

.fa-3x {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-3x i {
  margin-top: 20%;
}

.trackWrapper {
  /* box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2); */
  border: solid  rgb(0, 210, 2)
  3px;
  background-color: rgba(240, 240, 240, 0.63);
  padding: 0px;

  /* border-radius: 25px; */
}
.trackFaqs {
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.2rem;
  cursor: pointer;
}

.trackFaqs > div {
  font-size: small;
}

.mediaLinks {
  justify-content: center;
  margin-left: 20px;
  padding-left: 20px;
  border-left: solid black;
  /* background: rgb(254, 60, 65, 0.05); */
}

.mediaButton {
  width: 100%;
  border: 5px;
  border-radius: 25px;
}

.buttonText {
  font-size: 12px;
}


.rank {
  width: 10px;
}
.song_title,
.artist_name {
  margin-left: 20px;
  border-right: 1px groove darkgrey;
border-spacing: 25px;
box-sizing: border-box;
}


.art_img,
.album_name {
  margin-right: 20px;
  margin-left: 20px;
  border-spacing: 25px;
  box-sizing: border-box;
}

.song_title {
  width: 22%;
}

.artist_name {
  width: 22%;
}

.album_name {
  width: 22%;
}
